.article-page {
    --color-code-bg: #f1f1f1;
    --color-code-fg: #333;
}

.article-page,
.article-list {
    background: #fff;
    padding: 4rem;
    margin: 0 auto;
    max-width: 75rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.article-page {
    margin: 4rem auto;
}

.article-page h2,
.article-page h3 {
    text-shadow: none;
}

.article-page p code {
    background: var(--color-code-bg);
    color: var(--color-code-fg);
    padding: .15em .25em;
}

.wp-smiley {
    height: 0.75em !important;
    width: 0.75em !important;
    display: inline;
}

figure img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

figure {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

figcaption {
    font-size: .65em;
    background: #000;
    color: #fff;
}

pre,
.wp-block-code,
.wp-block-preformatted {
    background: #f1f1f1;
    color: #000;
    padding: var(--spacing);
    margin-left: calc(var(--spacing) * -2);
    width: calc(100% + calc(4 * var(--spacing)));
    overflow: auto;
    font-size: 90%;
    border-left: .25em solid #ddd;
    border-top: .25em solid #ddd;
}

.article__og-box {
    font-size: 1rem;
    font-weight: bold;
    border: .25em solid var(--color-note--info-contrast);
    background: var(--color-note--info);
    color: var(--color-note--info-contrast);
    padding: calc(var(--spacing) / 2);
}

.article__og-box a {
    color: var(--color-note--info-contrast);
}