<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block custom_title %}Kevin.Gimbel.Dev/Ops{% endblock %}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content="Eleventy">
  <link id="favicon" rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{% if icon %}{{ icon }}{% else %}✪{% endif %}</text></svg>">
  <style>{% include "style.css" %}</style>
  {% if custom_styles %}
  {% for style in custom_styles %}
  <style>{% include "" + custom_styles %}</style>
  {% endfor %}
  {% endif %}
  {% block head %}
  {% endblock %}
</head>
<body>
  <main class="main-grid">
    {% block content %}
    {% endblock %}
    <footer id="footer" class="[ f-ultra stack ] [ gr-auto gc-full bg-accent ] [ c-full-width ] [ footer ]">
      <div class="content">
        <p>Made with <a class="a-splash" href=" {% 11ty_meta "homepage" %}">11ty</a> {% 11ty_meta "version" %}, <span onmouseover="this.textContent='💜';" onmouseout="this.textContent='🫀';">🫀</span>, and lots of <span class="animation-spin">fun</span>.</p>
        <a href="{{ meta.permalinks.feed }}" class="f-small" title="Subscribe via RSS">RSS Feed</a>
        <p class="f-small"><a href="/imprint" title="Imprint">Imprint</a> | Views and opinions expressed on this websites do not represents views and opinions of my employer | <b>↙↙↙</b></p>
      </div>
    </footer>
  </main>
</body>
<script>{% include "script.js" %}</script>
<script>{% include "node_modules/kg-type/kg-type.js" %}</script>
</html>
