<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0; URL={{ redirect_url }}">
  <title>{{ title }}</title>
</head>
<body>
  <a href="{{ redirect_url }}">You are being redirected to {{ redirect_url }}</a>
</body>
</html>