{% extends "base.njk" %}

{% block content %}

{% include "nav.njk" %}

<section class="[ f-ultra stack ] [ section__styled box-shadow__styled ] [ gr-auto gc-full ] single-page">
  <div class="content">
    {{ content | safe }}
  </div>
</section>
{% endblock %}
