{% extends "base.njk" %}

{% block content %}
<section class="[ f-ultra stack ] [ gr-auto gc-full ] single-page">
  <nav><a href="/ops/">&lt;&lt; Home</a> | <a href="/blog/">Blog &gt;&gt;</a></nav>
  <hr />
  <div class="content">
    {{ content | safe }}
  </div>
</section>
{% endblock %}
