{% extends "base.njk" %}

{% block custom_title %}{{ title }} | Kevin.Gimbel.Dev/Ops{% endblock %}

{% block content %}

{% include "nav.njk" %}

<section class="[ f-ultra stack ] [ box-shadow__styled ] [ gr-auto gc-full ] single-page">
  <div class="content">
    {{ content | safe }}
  </div>
</section>
{% endblock %}
