
{% extends "base.njk" %}

{% block content %}
{% include 'nav.njk' %}
<section class="[ f-ultra stack ] [ gr-auto gc-full ] [ c-full-width ]">
    <div class="content">
        <ul class="article-list">
        {% for article in blog %}
        <li class="article-list__item [ section__styled box-shadow__styled ]">
            <h2><a href="/{{ article.slug }}">{{ article.title }}</a></h2>
            <p>{{ article.excerpt | safe }}</p>
            <a href="/{{ article.slug }}" class="article-list__more-link">Continue reading &gt;&gt;</a>
        </li>
        {%- endfor -%}
        </ul>
    </div>
</section>

{% endblock %}
