{% extends "base.njk" %}

{% block content %}

<section class="[ u-container ]">
    <div class="content">
        <p>Nothing here anymore...</p>
        <p>Please check out <a href="https://kevingimbel.de/blog/category:Tech">my main blog at kevingimbel.de</a>.
        <ul class="article-list">
        {% for article in blog %}
        <li class="article-list__item [ section__styled box-shadow__styled ]">
            <h2><a href="/{{ article.slug }}">{{ article.title | safe }}</a></h2>
            <p>{{ article.excerpt | safe }}</p>
            <a href="/{{ article.slug }}" class="article-list__more-link">Continue reading →</a>
        </li>
        {%- endfor -%}
        </ul>
    </div>
</section>

{% endblock %}
