---
permalink: "{{ meta.permalinks.feed }}"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ meta.site.title }}</title>
  <subtitle>{{ meta.site.subtitle }}</subtitle>
  <link href="{{ meta.permalinks.base_url }}feed.xml" rel="self" />
  <link href="{{ meta.permalinks.base_url }}" />
  <updated>{{ blog[0].date }}Z</updated>
  <id>{{ meta.permalinks.base_url }}</id>
  <author>
    <name>{{ meta.author.name }}</name>
    <email>{{ meta.author.email }}</email>
  </author>
  {% for post in blog %}
  <entry>
    <title type="html">{{ post.title }}</title>
    <link href="{{ post.link | replace(meta.wp_api.url, meta.permalinks.base_url) }}" />
    <id>{{ post.link }}</id>
    <updated>{{ post.date }}Z</updated>
    <summary type="html">{{ post.excerpt }}</summary>
    <content type="html">
    {{ post.content }}
    <hr />
    <p>Thanks for using RSS! 💖</p>
    </content>
  </entry>
  {%- endfor %}
</feed>
