---
permalink: "/feed.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="https://kevin.gimbel.dev/">
    <title>KevinGimbel.Dev/Ops</title>
    <subtitle>DevOps, SRE, Rust, and all things related + some real life</subtitle>
    <link href="https://kevin.gimbel.dev/" rel="self"/>
    <updated>{{ blog[0].date }}</updated>
    <id>https://kevin.gimbel.dev/</id>
    <author>
    <name>Kevin Gimbel</name>
    <email>kevin@gimbel.dev</email>
    </author>
{% for article in blog %}
    <entry>
        <title>{{ article.title | safe }}</title>
        <link href="{{ article.slug }}" />
        <updated>{{ article.date }}</updated>
        <id>https://kevin.gimbel.dev/{{ article.slug }}</id>
        <content xml:lang="en" type="html">{{ article.content  }}</content>
    </entry>
{%- endfor %}
</feed>