---
layout: "base"
---

<main class="main-grid">
  <section class="[ f-ultra stack ] [ c-svg-background ] intro" data-icon="🥸">
    <svg class="background" viewBox="0 0 684 373"><path d="M642,21.232c-38.276,-32.564 -180.148,24.735 -301.425,0c-97.517,-19.889 -256.967,-33.691 -298.575,0c-54.824,44.392 -56.078,269.719 0,300c100.977,54.527 479.158,65.295 585.678,35.461c74.451,-20.853 53.129,-131.979 53.443,-214.468c0.25,-65.527 -6.563,-93.293 -39.121,-120.993Z" style="fill:var(--color-bg,#ebebeb);"/></svg>
    <div class="content">
      <hgroup>
        <h1>Hi, I'm Kevin!</h1>
        <h2>A <span class="bg-accent-5">Senior DevOps Engineer</span><br>with a background in <i>Front-End Development</i>.</h2>
      </hgroup>
    </div>
  </section>

  <section class="[ gr-1 gc-8-12 ] [ avatar ]">
    <img src="/assets/img/kevin-gimbel-wald.jpeg" style="max-height: 40rem; border-radius: 34% 120% 69% 89% "/>
  </section>

  <section class="[ f-ultra stack ] [ c-svg-background ] about" style="--color-bg: hsl(0,30%,10%); --color-fg: hsl(0,50%,99%);">
    <svg class="background" viewBox="0 0 684 373"><path d="M642,21.232c-38.276,-32.564 -180.148,24.735 -301.425,0c-97.517,-19.889 -256.967,-33.691 -298.575,0c-54.824,44.392 -56.078,269.719 0,300c100.977,54.527 479.158,65.295 585.678,35.461c74.451,-20.853 53.129,-131.979 53.443,-214.468c0.25,-65.527 -6.563,-93.293 -39.121,-120.993Z" style="fill:var(--color-bg,#ebebeb);"/></svg>
    <div class="content">
      <p>I've spent the last 12 years learning to build & run websites; worked in e-Commerce since 2013, and focused on <a href="#cloud-computing" class="fg-accent-1 a-blank">Cloud Computing</a>, <a href="#containers" class="fg-accent-2 a-blank">Containers</a>, <a href="#automation" class="fg-accent-3 a-blank">Automation</a>, and <a href="#monitoring" class="fg-accent-4 a-blank">Monitoring</a> since starting full-time DevOps in 2018.</p>
    </div>
  </section>


  <section id="cloud-computing" class="[ f-ultra bg-accent-1 stack ] [ gr-auto gc-full ] [ c-full-width c-full-height ]" style="--spacing: 4rem;" data-icon="🌩">
    <hgroup>
      <h3 class="f-heading-big">Cloud Computing 🌩</h3>
      <h4>Computers! Computers! Computers! <a href="https://www.youtube.com/watch?v=Vhh_GeBPOhs">👏</a></h4>
    </hgroup>
    <div class="content">
      <p>I've worked with <u>Amazon Web Services</u> for four years and am a <a href="https://www.certmetrics.com/amazon/public/transcript.aspx?transcript=P141S9R11JV11556" title="View my AWS Certificate online at certmetrics.com" target="_blank">AWS Certified Developer</a> since May 2019.</p>
      <p>Between 2019 and 2021 I was invloved in planning and provisioning infrastructure for a microservice-based product called "<a href="https://synoa.de/konekti/">Konekti</a>". During this time I gained extensive knowledge of:</p>
      <ul class="[ d-grid ] [ c-skill-list ] list-accent" style="--grid-columns: 3;">
        <li class="[ c-skill-list__item ]">Elastic Container Services (ECS)</li>
        <li class="[ c-skill-list__item ]">Elastic Compute Cloud (EC2)</li>
        <li class="[ c-skill-list__item ]">Auto-scaling Groups</li>
        <li class="[ c-skill-list__item ]">Intensive, automatic resource tagging to monitor budgets</li>
        <li class="[ c-skill-list__item ]">Security Groups and Ingress Control</li>
        <li class="[ c-skill-list__item ]">AWS Load Balancers and Traefik Edge Proxy</li>
        <li class="[ c-skill-list__item ]">VPC and subnet management</li>
      </ul>
    </div>
  </section>


  <section id="containers" class="[ f-ultra bg-accent-2 stack ] [ gr-auto gc-full ] [ c-full-width c-full-height ]" style="--spacing: 4rem;"  data-icon="🐳">
    <hgroup>
      <h3 class="f-heading-big">Containers 🐳</h3>
      <h4>"It's no use Mr., it's virtualisation all the way down" <a href="https://en.wikipedia.org/wiki/Turtles_all_the_way_down">🐢</a></h4>
    </hgroup>
    <div class="content">
      <p>Before doing DevOps full-time at <a href="https://synoa.de/" target="_blank">Synoa GmbH</a>, I drove the initial adoption of Docker for local development in 2017.</p>
      <p>At the time we used Docker for Magento 2 development as well as for running Logstash, Elasticsearch, and some early Java Apps.</p>
      <p>Some areas I've gained knowledge in over the years:</p>
      <ul class="[ d-grid ] [ c-skill-list ] list-accent" style="--grid-columns: 3;">
        <li class="[ c-skill-list__item ]">Running CI/CD in Docker containers</li>
        <li class="[ c-skill-list__item ]">Multi-stage docker builds</li>
        <li class="[ c-skill-list__item ]">Running Traefik in Production for 3+ years</li>
        <li class="[ c-skill-list__item ]">Distributing CLI tools via Docker containers</li>
        <li class="[ c-skill-list__item ]">Deploying docker with Docker Remote API</li>
        <li class="[ c-skill-list__item ]">Monitoring with cAdvisor</li>
      </ul>
    </div>
  </section>


  <section id="automation" class="[ f-ultra bg-accent-3 stack ] [ gr-auto gc-full ] [ c-full-width c-full-height ]" style="--spacing: 4rem;" data-icon="🦾">
    <hgroup>
      <h3 class="f-heading-big">Automation 🦾</h3>
      <h4>Predictabillity and reliability through automation and scripting</h4>
    </hgroup>
    <div class="content">
      <p>Setting up infrastructure in the cloud can be a lot of work and the more manual steps are invloved, the more likely errors will be introduced.</p>
      <p>Over the past two years I've gained a lot of expirience building, managing, and upgrading infrastructure with terraform and Ansible. I've also build internal tooling to help Developers interact with the infrastructure we build.</p>
      <ul class="[ d-grid ] [ c-skill-list ] list-accent" style="--grid-columns: 3;">
        <li class="[ c-skill-list__item ]">Terraform module creation and maintenance</li>
        <li class="[ c-skill-list__item ]">Ansible role creation and maintenance</li>
        <li class="[ c-skill-list__item ]">Terraform integration wiht CI/CD pipelines</li>
        <li class="[ c-skill-list__item ]">Handling of breaking infrastructure changes</li>
        <li class="[ c-skill-list__item ]">Integrating build tools with Docker Remote API</li>
        <li class="[ c-skill-list__item ]">Monitoring with cAdvisor</li>
      </ul>
    </div>
  </section>

  <section class="[ f-ultra bg-accent-3 stack ] [ gr-auto gc-full ] [ c-full-width c-full-height ]" style="--spacing: 4rem;">
    <hgroup>
      <h4>Terraform</h4>
    </hgroup>
    <div class="content">
      <p><u>Terraform is a speciality of myself</u>, I've expirience with the creation and maintenance of complex modules that integrate various different services, including</p>
      <ul>
        <li>AWS VPC and Subnets</li>
        <li>VPC networking and default routing configs</li>
        <li>AWS EC2 servers</li>
        <li>AWS Security Groups and ingress rules between servers, inclduing ingress across AWS accounts</li>
        <li>AWS EC2 Auto-scaling groups</li>
        <li>AWS Route 53 domains and sub-domains</li>
        <li>AWS ECS clusters with default services</li>
        <li>AWS S3 buckets and access policies</li>
        <li>AWS IAM users for S3 access</li>
        <li>MongoDB Atlas Cloud</li>
        <li>MongoDB Atlas Cloud and AWS VPC peering connections</li>
      </ul>
    </div>
  </section>


  <section id="monitoring" class="[ f-ultra bg-accent-4 stack ] [ gr-auto gc-full ] [ c-full-width c-full-height ]" data-icon="👀">
    <hgroup>
      <h3 class="f-heading-big">Monitoring 👀</h3>
      <h4>Keeping tabs on everything</h4>
    </hgroup>
    <div class="content">
      <p>Proper monitoring is incredibly helpful in debugging. Seeing exactly what amount of RAM and CPU a docker container consumed when it got stuck 3 weeks ago? <i>Neat</i>.</p>
      <p>Some monitoring tools I've maintained in production:</p>
      <ul class="[ d-grid ] [ c-skill-list ] list-accent" style="--grid-columns: 3;">
        <li class="[ c-skill-list__item ]">Prometheus</li>
        <li class="[ c-skill-list__item ]">Alertmanager</li>
        <li class="[ c-skill-list__item ]">Grafana</li>
        <li class="[ c-skill-list__item ]">collectd</li>
        <li class="[ c-skill-list__item ]">node_exporter</li>
        <li class="[ c-skill-list__item ]">AWS CloudWatch metrics</li>
        <li class="[ c-skill-list__item ]">AWS CloudWatch alarms</li>
      </ul>
    </div>
  </section> 


  <section id="security" class="[ f-ultra bg-accent-5 stack ] [ gr-auto gc-full ] [ c-full-width c-full-height ]" style="--spacing: 4rem;" data-icon="🔐">
    <hgroup>
      <h3 class="f-heading-big">Security 🔐</h3>
      <h4 aria-label="Don't be cheap with security. Ever." onmouseover="this.textContent='Don\'t be cheap with security. Ever.';" onmouseout="this.textContent='◼︎◼︎◼︎◼︎◼︎ ◼︎◼︎ ◼︎◼︎◼︎◼︎◼︎ ◼︎◼︎◼︎◼︎ ◼︎◼︎◼︎◼︎◼︎◼︎◼︎◼︎◼︎ ◼︎◼︎◼︎◼︎◼︎';" style="font-family:monospace; min-height:4rem;">◼︎◼︎◼︎◼︎◼︎ ◼︎◼︎ ◼︎◼︎◼︎◼︎◼︎ ◼︎◼︎◼︎◼︎ ◼︎◼︎◼︎◼︎◼︎◼︎◼︎◼︎◼︎ ◼︎◼︎◼︎◼︎◼︎</h4>
    </hgroup>
    <div class="content">
      <p>Security must be considered from the start. <b>Period</b>.</p>
      <p>Don't give all-access to a entity because it's easy. Don't open all ports because it's easy. Don't run your code as root because it's easy.</p>
      <p>Some rules I've established:</p>
      <ul class="[ d-grid ] [ c-skill-list ] list-accent" style="--grid-columns: 3;">
        <li class="[ c-skill-list__item ]">HTTPS-only traffic between systems</li>
        <li class="[ c-skill-list__item ]">Restrictive AWS IAM users and roles</li>
        <li class="[ c-skill-list__item ]">Password management with self-hosted Password manager</li>
        <li class="[ c-skill-list__item ]">SSL certificate management with Let's Encrypt and AWS Certificate Manager</li>
      </ul>
    </div>
  </section>

  <section id="outro" class="[ f-ultra stack ] [ gr-auto gc-full ] [ c-full-width c-full-height ]" data-icon="🥸">
  <hgroup>
    <h3>Contact</h3>
  </hgroup>
  <div class="content">
    <p>Well, well, welll, ... you've reached the end of this very lovely and pretty ✨cool✨ website.</p>
    <p>If you want to connect with me, hit me up on:</p>
    <ul>
      <li><a href="https://www.linkedin.com/in/kevin-gimbel-19711a13b/">LinkedIn</a></li>
      <li><a href="https://timeline.kevingimbel.de">Polywork</a></li>
      <li><a href="https://twitter.com/KevinGimbel">Twitter @KevinGimbel</a></li>
      <li><a href="https://github.com/KevinGimbel">GitHub @KevinGimbel</a></li>
    </ul>
  </div>
  </section>

  <section id="footer" class="[ f-ultra stack ] [ gr-auto gc-full bg-accent] [ c-full-width ]" style="--color-bg: #000; --color-fg: #fff;">
    <div class="content">
      <p>Made with <a class="a-splash" href="https://11ty.dev/">11ty</a> and lots of fun.</p>
    </div>
  </section>
</main>
